@import url(font.css);

:root {
  --color-background: rgb(240, 240, 240);
  --color-border: rgb(220,220,220);
  --color-primary: rgb(212, 200, 31);
  --color-text: rgb(30, 30, 30);
  --color-text-secondary: rgb(60, 60, 60);
  --color-text-tertiary: rgb(120, 120, 120);
  --color-footernotes-background: rgb(230, 230, 230);
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.8rem;
  --font-size-xxl: 2.4rem;
  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --font-family-sans: 'Hanken Grotesk', sans-serif;
  --font-family-serif: 'Newsreader', serif;
  --filter-invert-default: 0;
  --filter-invert-full: 0;
  --filter-contrast: 100%;
}

html {
  font-size: 14px;
  font-family: var(--font-family-sans);
  color: var(--color-text);
  padding: 0 1rem;
  word-break: normal;
  background: var(--color-background);
}

body {
  margin: 0 auto;
  max-width: 40rem;
  font-size: var(--font-size-md);
}

.dark{
    --color-background: rgb(32, 32, 32);
    --color-border: rgb(65, 65, 65);
    --color-primary: rgb(195, 82, 1);
    --color-text: rgb(230, 229, 229);
    --color-text-secondary: rgb(218, 218, 218);
    --color-text-tertiary: rgb(158, 158, 158);
    --color-footernotes-background: rgb(65, 65, 65);
    --filter-invert-default: 0.2;
    --filter-invert-full: 1;
    --filter-contrast: 200%;
  }
table {
  font-family: var(--font-family-sans) ;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin: 2rem 0;
}
th {
  padding: 0.5rem;
  font-weight: var(--font-weight-bold);
  border-top: 2px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
}
td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-text-tertiary);
}

tr:last-child {
  border-bottom: 2px solid var(--color-text-tertiary);
}