---
import IndexLayout from '../layouts/Layout.astro';
import StoryList from '../components/StoryList.astro';
import ExperienceList from '../components/ExperienceList.astro';
---

<IndexLayout title="This is Junyu">
  <!-- <div id="top" class="banner"></div> -->
  <div class="hero">
    <h1>
      Hi, this is Junyu. I'm a product manager
      <span class="strike">designer and engineer</span> who lives and works in Berlin<a
        href="/junyuappuroved">.</a
      >
    </h1>
    <h2>
      Share stories about travel, books, design, programming also thoughts and
      learning from product development.
    </h2>
  </div>
  <div class="divider">Stories</div>
  <StoryList />
  <div class="divider">Experience</div>
  <ExperienceList />
</IndexLayout>

<style>
  .hero {
    align-content: center;
    padding: 3rem 0 1rem 0;
  }
  h1,
  h2 {
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-regular);
  }

  h1 {
    font-size: 2.6rem;
    line-height: 3rem;
  }

  h2 {
    line-height: 1.6rem;
    font-size: 1.4rem;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  .strike {
    text-decoration: line-through;
    text-decoration-color: var(--text-color);
    font-style: italic;
    color: var(--primary-color);
  }
  .divider {
    font-size: var(--font-size-md);
    margin-top: 2rem;
  }
</style>
