---
import IndexLayout from '../layouts/Layout.astro';
import StoryList from '../components/StoryList.astro';
import ExperienceList from '../components/ExperienceList.astro';
---

<IndexLayout title="This is Junyu">
  <div class="hero">
    <h1>
      Hi, this is Junyu. I'm a product manager
      <div class="strike">
        <div class="text">(was) designer and engineer</div>
        <div class="line"></div>
      </div>
      who lives and works in Berlin
      <div class="dot"><a href="/junyuappuroved">.</a></div>
    </h1>
    <h2>
      Share stories about travel, books, design, programming also thoughts and
      learning from product development.
    </h2>
  </div>
  <div class="divider">Stories</div>
  <StoryList postCount="3" />
  <div class="divider">Experience</div>
  <ExperienceList />
</IndexLayout>

<style lang="scss">
  .hero {
    align-content: center;
    padding: 3rem 0 1rem 0;
  }
  h1,
  h2 {
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-regular);
  }

  h1 {
    font-size: var(--font-size-xxl);
    line-height: 3rem;
  }

  h2 {
    line-height: 1.6rem;
    font-size: var(--font-size-lg);
  }

  a {
    color: var(--color-text);
    text-decoration: none;
  }

  .strike {
    color: var(--color-text);
    display: inline-block;
    padding: 0 0.5rem;
    background: var(--color-text);
  }
  .strike:hover {
    cursor: default;
    color: var(--color-primary);
  }
  .divider {
    font-size: var(--font-size-md);
    margin-top: 2rem;
  }
  .dot {
    line-height: 1rem;
    display: inline;
  }
  .dot:hover {
    line-height: 1rem;
    font-size: 6rem;
  }
</style>
