---
import experienceData from '../json/experienceData.js';
---

{
  experienceData.map((experience) => (
    <div class="experience">
      <div class="date">{experience.date}</div>
      <div class="detail">
        <div class="title">{experience.title}</div>
        <div class="company">{experience.company}</div>
        <div class="description" set:html={experience.description} />
      </div>
    </div>
  ))
}

<style is:inline lang="scss">
  .experience {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 1rem;
  }
  @media (max-width: 50rem) {
    .experience {
      grid-template-columns: 100px 1fr;
    }
  }
  .detail {
    display: flex;
    flex-direction: column;
  }
  .title {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
  }
  .date,
  .company {
    margin-bottom: 0.8rem;
    font-size: var(--font-size-sm);
    color: var(--color-text-tertiary);
  }
  .description {
    font-family: var(--font-family-serif);
    color: var(--color-text-secondary);
    line-height: 1.2;
  }
</style>
