---
const { type } = Astro.props;
---

<nav>
  <a href="/"><div class="home"></div></a>
  <div>/</div>
  <div><a href="/stories">Stories</a></div>
</nav>

<style>
  nav {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    border-bottom: 1px solid var(--color-border);
  }

  nav div {
    margin-right: 1rem;
  }

  .home {
    width: 1rem;
    height: 1rem;
    background: var(--color-text);
  }

  nav div:hover {
    cursor: pointer;
    opacity: 50%;
  }

  a,
  a:visited {
    text-decoration: none;
    color: var(--color-text);
  }
</style>
